<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130469768000-8u4c93rqeq9kn1jp2vt3p01ru94f2fat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130469768000-8u4c93rqeq9kn1jp2vt3p01ru94f2fat</string>
	<key>API_KEY</key>
	<string>AIzaSyBkrqP_zqMrLM4a6Ywspt91d0tgO_FlDSU</string>
	<key>GCM_SENDER_ID</key>
	<string>130469768000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMeetup</string>
	<key>PROJECT_ID</key>
	<string>project-meet-4d1f8</string>
	<key>STORAGE_BUCKET</key>
	<string>project-meet-4d1f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130469768000:ios:4071d3b1d970dac02a28a5</string>
</dict>
</plist>